.tabla-empresas {
   margin-top: 3rem;
   margin-left: 3rem;
   margin-right: 3rem;
}

.filter-trash {
   text-align: center;
   margin-top: 1rem;
}


#TablaEmpresa {
   margin-top: 4rem;
}


.row-tag-selected{
   background-color:#d3d0d0;
   position: absolute;
   width: 83.8%;
   margin-left: 48px;
   border-radius: 5px;
}
#EmpresaList tbody tr {
   cursor: pointer;
}

table th{
   font-size: .8rem;
   text-align: center;
}

table td{
   font-size: .8rem;
   text-align: center;
}

.form-group {
   font-size: .8rem;
}

.form-group label {
   font-weight: bold;
}

.info-text h3{
   padding-top: 16.5rem;
   color: #bfbebe;
   font-style: oblique;
   font-weight: 400;
   text-align: center;
}

#hidden-spinner {
   justify-content: center;
   margin-top: .2rem;
   margin-bottom: .2rem;
   /* display: none; */
}

#FilterForm .filter-label {
   font-weight: bold;
}
