.tabla-empresas {
   margin-top: 1.5rem;
   margin-left: .8rem;
   height: 38.1%;
   /* display: inline-table; */
   /* margin-right: .8rem; */
}

table th{
   font-size: .8rem;
   text-align: center;
}

table td{
   font-size: .8rem;
   text-align: center;
}

#EmpresaList tbody tr {
   cursor: pointer;
}

#TablaEmpresa {
   margin-top: 4rem;
}

#FilterForm .filter-label {
   font-weight: bold;
}

#hidden-spinner {
   position: absolute;
   bottom: 50%;
   left: 50%;
}

#requestEnterpriseInfo {
   text-align: right;
}

.filter-trash {
   text-align: center;
   margin-top: 1rem;
}

.filter-list-contant {
   width: 100%;
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.filter {
   margin-top: 1.5rem;
}

.search-form {
   position: relative;
   width: 57%;
   justify-content: center;
   left: 38%;
   align-items: center;
}

.row-tag-selected{
   /* background-color:#d3d0d0; */
   position: absolute;
   width: 83.8%;
   margin-left: 48px;
   border-radius: 5px;
}

.form-group {
   font-size: .8rem;
}

.form-group label {
   font-weight: bold;
}

.info-text h3{
   padding-top: 16.5rem;
   color: #bfbebe;
   font-style: oblique;
   font-weight: 400;
   text-align: center;
}

.empresas-seleccionadas-list {
   max-width: 360px;
   max-height: 257px;
   overflow-y: scroll;
   font-size: 13px;
}

.vl {
   border-left: 1px solid #c2c3c2;
   height: 18rem;
 }

/* ------- Modal Enterprise Detail -------- */
.enterprise-info {
   text-align: right;
}

.call-to-action {
   cursor: pointer;
}

.detail-map {
   border-radius: 12px;
}

.empresa-detail-row {
   justify-content: center;
}

.empresa-detail-card {
   bottom: 3.1em;
}

.row-extra-info {
   margin-bottom: 3.5rem;
}