{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="TablaEmpresa">

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Open modal for @mdo</button>           -->
  <form action="." id="FilterForm">
    {% csrf_token %}
      <div class="search-form">
        {{ form.query }}
      </div>

      <div class="row filter-list-contant">
        <div class="col-3">
          <div class="card filter">
            <div class="card-header">
              <h3 class="card-title">Filtros</h3>
            </div>
            <div class="filter-trash">
              <button type="button" class="btn btn-primary clear-filters">
                Limpiar filtros <i class="fas fa-trash"></i>
              </button>
            </div>

              <!-- /.card-header -->
              <div class="card-body">
                <div class="col-12">
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" aria-expanded="true" aria-controls="collapseOne">
                            Sector y Productos
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                          <div class="item-filter">
                            <label for="sector_actividad" class="filter-label">Sector de actividad</label>
                            {{ form.sector_actividad }}
                          </div>
                          <div class="item-filter">
                            <label for="direccion_actividad" class="filter-label">Direccion de actividad</label>
                            {{ form.direccion_actividad }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button"  aria-expanded="false" aria-controls="collapseTwo">
                            Dimensión
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                        <div class="card-body">
                          <div class="item-filter">
                            <label for="empleados_fijos" class="filter-label">Numero de empleados fijos</label>
                            <ul id="id_empleados_fijos" style="list-style: none;">
                              {% for value, name in form.fields.empleados_fijos.choices %}
                                <li>
                                  <label for="id_empleados_fijos_{{forloop.counter}}">
                                    <input type="radio" name="empleados_fijos" value="{{ value }}" id="id_empleados_fijos_{{forloop.counter}}">
                                    {{ name }}
                                  </label>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="item-filter">
                            <label for="empleados_eventuales" class="filter-label">Numero de empleados eventuales</label>
                            <ul id="id_empleados_eventuales" style="list-style: none;">
                              {% for value, name in form.fields.empleados_eventuales.choices %}
                                <li>
                                  <label for="id_empleados_eventuales_{{forloop.counter}}">
                                    <input type="radio" name="empleados_eventuales" value="{{ value }}" id="id_empleados_eventuales_{{forloop.counter}}">
                                    {{ name }}
                                  </label>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="item-filter">
                            <label for="volumen_facturacion" class="filter-label">Volumen de Facturación</label>
                            <ul id="id_volumen_facturacion" style="list-style: none;">
                              {% for value, name in form.fields.volumen_facturacion.choices %}
                                <li>
                                  <label for="id_volumen_facturacion_{{forloop.counter}}">
                                    <input type="radio" name="volumen_facturacion" value="{{ value }}" id="id_volumen_facturacion_{{forloop.counter}}">
                                    {{ name }}
                                  </label>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" aria-expanded="false" aria-controls="collapseThree">
                            Perfil Exportador
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
                        <div class="card-body">
                          <div class="item-filter">
                            <label for="export_frecuencia" class="filter-label">Frecuencia de Exportación</label>
                            <ul id="id_export_frecuencia" style="list-style: none;">
                              {% for value, name in form.fields.export_frecuencia.choices %}
                                <li>
                                  <label for="id_export_frecuencia_{{forloop.counter}}">
                                    <input type="radio" name="export_frecuencia" value="{{ value }}" id="id_export_frecuencia_{{forloop.counter}}">
                                    {{ name }}
                                  </label>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="item-filter">
                            <label for="export_relativa" class="filter-label">Exportación relativa (%)</label>
                            {{ form.export_relativa }}
                          </div>
                          <div class="item-filter">
                            <label for="export_destino" class="filter-label">Destino de exportación</label>
                              {{ form.export_destino }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </form>
          </div>
        </div> 



        <div class="col-md-9 table">
          <!-- <div class="row row-tag-selected">
            <div class="col-md-5">
               <div class="tag-selected">
               </div>
            </div>
         </div> -->

          <div class="card tabla-empresas">
            
            <div class="card-header">
              <div class="row">
                <div class="col-8">
                  <h3 class="card-title">Enterprise List</h3>
                </div>
                <div class="col-4" id="requestEnterpriseInfo">
                </div>
              </div>
            </div>
            <div id="result-count" class="text-right">
              <span class='font-weight-bold'></span> results found.
            </div>
            <div id="page-count" class="text-right">Page:
                <span class='font-weight-bold'></span>
            </div>
            <div class="card-body">
                  <table class="table table-light table-bordered table-hover" data-toggle="table" id="EmpresaList">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Option</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Sector de Actividad</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Paises Operacion</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                    </tbody>
                  </table>
                  <div id="hidden-spinner" class="row">
                    <div class="spinner-border text-dark" role="status"></div>
                  </div>

            </div>

            <div class="row pagination-box" style="justify-content: center">
            </div>
          </div>

        </div>

      </div>
  <!-- </div> -->
</section>
<!-- Modal Detail Enterpise -->
<div class="modal fade" id="modalDetailEnterprise" tabindex="-1" role="dialog" aria-labelledby="modalDetailEnterpriseLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetailEnterpriseLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalDetailEnterpriseBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Request Enterprise Info Form -->



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Solicitar información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-size: 13.5px;color: gray;">Le enviaremos información acerca de la empresa, de forma datalla a su correo electrónico.</p>
        
        <div class="row" style="justify-content: center;">
          <div class="col-md-5">
            <form id="requestInfoForm">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="text" class="form-control" name="request_email" id="id_request_email">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">First name:</label>
                <input type="text" class="form-control" name="request_f_name" id="id_request_f_name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Last name:</label>
                <input type="text" class="form-control" name="request_l_name" id="id_request_l_name">
              </div>

            </form>
          </div>

            <div class="vl"></div>
          
          <div class="col-md-5">
            <h6>Empresas seleccionadas</h6>
              <ul class="list-group empresas-seleccionadas-list">
              </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" id="requestEmpInfoButton" class="btn btn-primary">Solicitar</button>
        <div id="hidden-spinner2" class="row">
          <div class="spinner-border text-dark" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block extra_javascript %}
  <script src="{% static 'js/empresa/list.js' %}"></script>
  <script>
    $("#requestEmpInfoButton").click(function(e){
      var request_empresa_info_serialize_form = $("#requestInfoForm").serializeArray()
      request_empresa_info_serialize_form.push({
          "name": "request_empresa_list",
          "value": JSON.stringify(records_selected_list)
      });

      $("#requestEmpInfoButton").css("display","none")
      $('#hidden-spinner2').show();
      $.ajax({
            url: "{% url 'request_empresa_info' %}",
            type: "POST",
            dataType: "json",
            data: request_empresa_info_serialize_form,
          success: function(response){
            console.log(response)
            $('#hidden-spinner2').hide();
            $("#requestEmpInfoButton").css("display","inline-block")
            
            if (response["status"] == 200){
              $("#requestInfoForm").trigger("reset");
              $("#exampleModal .close").click()
              Swal.fire({
                  position: 'center',
                  icon: 'success',
                  title: response['message'],
                  showConfirmButton: false,
                  timer: 5500
              })
              setTimeout(function (){
                  window.location.href = "{% url 'tabla_empresas' %}"
              }, 2500);
            } else if (response["status"] == 400 || response["status"] == 500 ){
              var html = '';
              if (typeof (response.error) === 'object') {
                  html = '<ul style="text-align: center; list-style: none;">';
                  $.each(response.error, function (key, value) {
                      html += '<li>' + value + '</li>';
                  });
                  html += '</ul>';
              } else {
                  html = '<p>' + response.error + '</p>';
              }
              Swal.fire({
                  title: 'Error!',
                  html: html,
                  icon: 'error'
              });
            }

          }
      });


    });
  </script>
{% endblock extra_javascript %}