{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="TablaEmpresa">
  <div class="container">
      <div class="row">
        <div class="col-md-7 table">
          <div class="card tabla-empresas">
            <div class="card-header">
            <h3 class="card-title">Enterprise List</h3>
            </div>
            <div class="card-body">
              <form class="ml-3" method="GET" id="filterForm"> 
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Orden Alfabético</label>
                      {{ form.alpha }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group" style="
                    margin-top: 1.2rem;">
                      <label>Población</label>
                      {{ form.poblacion }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group" style="
                    margin-top: 1.2rem;">
                      <label>Sector</label>
                      {{ form.sector }}
                    </div>
                  </div>
                </div>
                <div class="row filter-button mb-3" style="justify-content: center;">
                  <input class="btn btn-primary" type="button" id="btnFilter" value="Filtrar">
                </div>
              </form>
                <table class="table" id="EmpresaList">
                  <thead>
                    <tr>
                      <th scope="col">Empresa</th>
                      <th scope="col">Poblacion</th>
                      <th scope="col">Partidas</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
            </div>

          </div>
        </div>
        <div class="col-md-4" id="cardEmpresaDetalle">
          <div class="info-text">
            <h3>PULSE EN CUALQUIER EMPRESA DE LA TABLA DE LA IZQUIERDA PARA VER AQUI SU INFORMACION DETALLADA</h3>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock content %}


{% block extra_javascript %}
  <script src="{% static 'js/empresa/list.js' %}"></script>
{% endblock extra_javascript %}